section#about
  background-color: $orange
  h1
    color: $white
    font-size: 3.5em
    margin-bottom: 1em
    &:before, &:after
      background: none
  .row
    display: block
    margin-bottom: 1em
    font-size: 120%
    h3
      font-family: "Source Sans Pro"
      font-weight: 100
      text-transform: uppercase
      letter-spacing: 5px
      font-size: 1.75em
      margin: 1.5em 0 0.75em
    p
      color: $white
      text-align: justify
      font-weight: 300
      margin: 0
      margin-bottom: 0.5em
    ul
      list-style: none
      font-size: 0.7em
      li
        color: $white
        text-align: justify
        font-weight: 100
        margin: 0
        &:before
          content: '\00BB'
          margin: 0 1em 0 0.5em
