section#home
  background-color: $black
  overflow: auto
  width: 100%
  white-space: nowrap
  overflow-x: hidden
  .slide-left, .slide-right
    position: absolute
    font-size: 4em
    color: rgba($white,0.5)
    padding: calc(50vh - 0.5em) 1em
    cursor: pointer
    z-index: 999
  .slide-left
    left: 0
    background: transparent
    transition: background 200ms ease-in-out
    &:hover
      background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.3))
  .slide-right
    right: 0
    background: transparent
    transition: background 200ms ease-in-out
    &:hover
      background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3))
  .slide-wrapper
    width: 400vw
    .slide
      width: 100vw
      height: 100vh
      display: inline-block
      .wrapper
        box-sizing: border-box
        text-align: center
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        padding-bottom: 8em
        h1
          color: $orange
          font-size: 5em
          margin: 0.2em
          &:before, &:after
            background: none
          @media (max-width: 720px)
            font-size: 4em
            padding: 0
        a.cta-button
          position: absolute
          top: 80%
          left: 50%
          transform: translate(-50%,-50%)
          background-color: $orange
          padding: 1em 3em
          color: $white
          text-transform: uppercase
          font-weight: 300
          letter-spacing: 3px
          border-bottom: 8px solid darken($orange, 20%)
          transition: all 150ms ease-in-out
          &:hover
            border-bottom: 5px solid darken($orange, 15%)
        p.tag
          color: white
          letter-spacing: 3px
          font-weight: 100
          margin: 0
          font-size: 1.5em
          position: relative
          display: inline-block
          padding: 0 1em
          &:before
            content: ""
            height: 1px
            background-color: $white
            position: absolute
            width: 30%
            top: 40%
            left: -30%
          &:after
            content: ""
            height: 1px
            background-color: $white
            position: absolute
            width: 30%
            top: 40%
            left: 100%
          @media (max-width: 720px)
            &:before, &:after
              background: none

    .slide
      background-size: cover
      background-position: center
    .slide1
      background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../img/slide1.jpg)
    .slide2
      background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../img/slide2.jpg)
    .slide3
      background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../img/slide3.jpg)
    .slide4
      background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../img/slide4.jpg)
