section#home
  background-color: $blue
  overflow: auto
  width: 100%
  white-space: nowrap
  overflow-x: hidden
  .slide-left, .slide-right
    position: absolute
    font-size: 4em
    color: rgba($white,0.5)
    padding: calc(50vh - 0.5em) 1em
    cursor: pointer
    z-index: 999
  .slide-left
    left: 0
    background: transparent
    transition: background 200ms ease-in-out
    &:hover
      background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.3))
  .slide-right
    right: 0
    background: transparent
    transition: background 200ms ease-in-out
    &:hover
      background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3))
  .slide-wrapper
    width: 300vw
    .slide
      width: 100vw
      height: 100vh
      display: inline-block
      .wrapper
        box-sizing: border-box
        text-align: center
        transform: translate(0, calc(50vh - 50%))
        h1
          color: $orange
          font-size: 5em
          margin: 0.2em
        p.tag
          color: white
          letter-spacing: 3px
          font-weight: 100
          margin: 0
          font-size: 1.5em
          position: relative
          display: inline-block
          padding: 0 1em
          &:before
            content: ""
            height: 1px
            background-color: $white
            position: absolute
            width: 30%
            top: 40%
            left: -30%
          &:after
            content: ""
            height: 1px
            background-color: $white
            position: absolute
            width: 30%
            top: 40%
            left: 100%

    .slide1
      background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../img/slide1.jpg)
      background-size: cover
      background-position: center
