section#programs
  background-color: $white
  min-height: 1040px
  .wrapper
    h1
      color: $orange
      &:before, &:after
        background-color: $orange
      @media (max-width: 720px)
        &:before, &:after
          background: none
    .tagline
      text-align: center
      color: lighten($black, 40%)
      font-size: 1.5em
      letter-spacing: 5px
    article
      background-color: #444
      box-sizing: border-box
      border-radius: 0 0 0.5em 0.5em
      transition: all 300ms ease-in-out
      display: none
      .head
        background-size: cover
        background-position: center
        position: relative
        height: 200px
        h2
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          text-align: center
          margin: 0
          padding: 0
          font-weight: 300
          font-size: 2.5em
          letter-spacing: 4px
          width: calc(100% - 3em)
      .body
        padding: 3em
        p
          margin: 0
          padding: 0
          margin-bottom: 1em
          text-align: justify
          @media (max-width: 500px)
            text-align: left
      &:hover
        background-color: $blue
      &.active
        display: block
    .button-bar
      width: 100%
      position: relative
      display: flex
      justify-content: space-between
      z-index: 10
      a
        width: 100%
        padding: 1.5em 1em
        background-color: #777
        border-right: 1px solid lighten(#777, 10%)
        position: relative
        text-align: center
        transition: all 200ms ease-in-out
        &:hover
          background-color: #aaa
          @media (min-width: 720px)
            display: flex
            align-items: center
            p
              visibility: visible
              opacity: 1
              margin: 0.5em 0em 0.5em 0.8em
              font-size: 0.9em
        &:first-child
          border-radius: 0.5em 0 0 0
        &:last-child
          border-radius: 0 0.5em 0 0
          border-right: none
        &.active
          background-color: $orange
        i
          color: $white
          font-size: 1.25em
        p
          visibility: hidden
          opacity: 0
          text-align: center
          font-size: 0em
          text-transform: uppercase
          letter-spacing: 2px
          font-weight: 700
          line-height: 1
          margin: 0
          white-space: nowrap
          transition: all 200ms ease-in-out
        @media (max-width: 500px)
          padding: 1em 0.4em
          i
            font-size: 1em

section#programs .wrapper
  article#prog1 .head
    background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/tejani1.jpg)
  article#prog2 .head
    background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/tejani2.jpg)
  article#prog3 .head
    background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/primary-campers.jpg)
  article#prog4 .head
    background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/maker-spaces.jpg)
  article#prog5 .head
    background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/sports-camp.jpg)
  article#prog6 .head
    background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/arts-camp.jpg)
  article#prog7 .head
    background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/funancial-freedom.jpg)

.tejani-logo
  padding: 2em
  display: inline-block
  background-image: url(../img/tejani-logo.jpg)
  background-size: contain
  background-repeat: no-repeat
  border-radius: 0.4em
  position: absolute
  bottom: 1em
  right: 1em
  box-shadow: 0px 0px 5px rgba($white, 0.3)
  transition: all 200ms ease-in-out
  &:hover
    box-shadow: 0px 0px 15px rgba($white, 0.6)
