section#programs
  background-color: $white
  .wrapper
    padding-bottom: 0
    h1
      color: $orange
      &:before, &:after
        background-color: $orange
      @media (max-width: 720px)
        &:before, &:after
          background: none
  .row2
    padding-bottom: 5em !important
  .row
    display: flex
    padding: 0 3em 3em
    .col
      background-color: lighten($black, 20%)
      box-sizing: border-box
      margin: 0 1em
      border-radius: 1em
      transition: all 200ms ease-in-out
      .head
        background-size: cover
        background-position: center
        border-radius: 1em 1em 0 0
        padding: 3.5em
        h2
          margin: 0
          padding: 0
          text-align: center
          font-weight: 300
          font-size: 2.5em
          letter-spacing: 3px
      p
        margin: 1.5em 2em
        font-weight: 300
        font-size: 1.2em
        br
          font-size: 1.5em
      &.col1
        width: 60%
        .head
          background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/slide1.jpg)
        &:hover
          background-color: $orange
      &.col2
        width: 40%
        .head
          background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/slide5.jpg)
        &:hover
          background-color: $blue
      &.col3
        width: 40%
        .head
          background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/tejani1.jpg)
        &:hover
          background-color: $blue
      &.col4
        width: 60%
        .head
          background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url(../img/tejani2.jpg)
        &:hover
          background-color: $orange
  @media (max-width: 900px)
    .row
      flex-wrap: wrap
      padding: 0 3em
      .col
        &.col1, &.col2, &.col3, &.col4
          width: 100%
          margin-bottom: 2em
    .row2
      flex-wrap: wrap-reverse

.col3, .col4
  .head
    position: relative
    .tejani-logo
      padding: 2em
      display: inline-block
      background-image: url(../img/tejani-logo.jpg)
      background-size: contain
      background-repeat: no-repeat
      border-radius: 0.4em
      position: absolute
      bottom: 1em
      right: 1em
      box-shadow: 0px 0px 5px rgba($white, 0.3)
      transition: all 200ms ease-in-out
      &:hover
        box-shadow: 0px 0px 15px rgba($white, 0.6)
