nav
  background-color: $white
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  transition: all 200ms ease-in-out
  .wrapper
    width: 100%
    max-width: 1100px
    margin: 0 auto
    padding: 0 2.5em
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    @media (max-width: 720px)
      padding: 0
    a.logo
      background-image: url(../img/logo.png)
      background-size: contain
      background-repeat: no-repeat
      background-position: left center
      height: 80px
      width: 40%
    .hamburger-menu
      display: none
    ul.navbar
      list-style: none
      display: flex
      li a
        color: lighten($black, 40%)
        text-transform: uppercase
        letter-spacing: 2px
        font-size: 0.7em
        padding: calc(40px - 1.3em) 0.75em
        border-bottom: 1px solid transparent
        transition: all 150ms ease-in-out
        &:hover
          border-bottom: 6px solid $orange
          color: $orange
  &.scrolled
    box-shadow: 0px 2px 20px rgba($black,0.2)
    .wrapper
      max-width: none
      a.logo
        height: 50px
      ul.navbar li a
        padding: calc(25px - 1.3em) 0.75em

@media (max-width: 900px)
  nav
    .wrapper
      a.logo
        display: block
        width: 80%
      .hamburger-menu
        display: block
      ul.navbar
        display: none
        flex-direction: column
        position: absolute
        left: 0
        top: 80px
        width: 100%
        li a
          display: block
          text-align: center
          background: #555
          border-bottom: 1px solid #777
          color: white
          font-size: 0.9em
          &:hover
            border-bottom: 1px solid #777
            color: $white
            background-color: $orange
    &.scrolled
      ul.navbar
        top: 50px
        li a
          padding: calc(40px - 1.3em) 0.75em !important
